<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emt.epay.dao.mapper.EpayOrderScanMapper">

    <!--保存已扫描订单数据-->
    <insert id="saveScaned">
        insert into epay_order_scan
        (orderId,payCompany,amount,status,comment,orderDate,tranDate,subData,notifyData,reserver1,reserver2)
        VALUES
        (#{orderId},#{payCompany},#{amount},#{status},#{comment},#{orderDate},#{tranDate},#{subData},#{notifyData},#{reserver1},#{reserver2})
    </insert>

</mapper>
